pre {
        color:#990000;
}
body {
        background-color:#000000;
}


/*
image {
        animation:0.01s rotateRight infinite linear;
}


@keyframes rotateRight {
        0%{ transform:rotate0deg); transform-origin:50% 50%; }
        100%{ transform:rotate(360deg); }
*/
